flows.json
[
    {
        "id": "630ff27b3317931f",
        "type": "tab",
        "label": "TP2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqtt-in",
        "type": "mqtt in",
        "z": "630ff27b3317931f",
        "name": "Recibir datos",
        "topic": "esp32/sensores",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9228fce8f2bf299a",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "110d6187c12cc7fb"
            ]
        ]
    },
    {
        "id": "a1cd2cc321c3cb11",
        "type": "debug",
        "z": "630ff27b3317931f",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "3b5973401896c282",
        "type": "inject",
        "z": "630ff27b3317931f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sensores",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 140,
        "wires": [
            [
                "110d6187c12cc7fb"
            ]
        ]
    },
    {
        "id": "110d6187c12cc7fb",
        "type": "function",
        "z": "630ff27b3317931f",
        "name": "JSON",
        "func": "msg.topic = \"esp32/sensores\";\n\nif (typeof msg.payload === \"string\") {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.warn(\"Error al parsear JSON: \" + e.message);\n        return null;\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 260,
        "wires": [
            [
                "a1cd2cc321c3cb11",
                "3e69fd046821caf3",
                "7e55999e9d99a565"
            ]
        ]
    },
    {
        "id": "4e6c69bdd8db9718",
        "type": "mqtt out",
        "z": "630ff27b3317931f",
        "name": "Enviar orden",
        "topic": "esp32/ventanas",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9228fce8f2bf299a",
        "x": 770,
        "y": 380,
        "wires": []
    },
    {
        "id": "3e69fd046821caf3",
        "type": "function",
        "z": "630ff27b3317931f",
        "name": "Motor manager",
        "func": "let temp = msg.payload.temperatura;\n\nif (temp <= 20) {\n    return { payload: \"CERRAR\" };\n} else if (temp >= 30) {\n    return { payload: \"ABRIR\" };\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 380,
        "wires": [
            [
                "a1cd2cc321c3cb11",
                "4e6c69bdd8db9718"
            ]
        ]
    },
    {
        "id": "7e55999e9d99a565",
        "type": "influxdb out",
        "z": "630ff27b3317931f",
        "influxdb": "ec4f1a47221a48c3",
        "name": "Guardar en Influx",
        "measurement": "sensores",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "a2fd56ebf4f21933",
        "type": "inject",
        "z": "630ff27b3317931f",
        "name": "Crear DB telegraf",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "eb46d92cfe98a5e3"
            ]
        ]
    },
    {
        "id": "eb46d92cfe98a5e3",
        "type": "http request",
        "z": "630ff27b3317931f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://TrabergTau:TauTraberg@influxdb:8086/query?q=CREATE DATABASE telegraf",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 60,
        "wires": [
            [
                "a1cd2cc321c3cb11"
            ]
        ]
    },
    {
        "id": "9228fce8f2bf299a",
        "type": "mqtt-broker",
        "name": "Broker MQTT Contenedor",
        "broker": "192.168.0.160",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ec4f1a47221a48c3",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": 8086,
        "protocol": "http",
        "database": "telegraf",
        "name": "Influx Local",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    }
]