nodered/config/flows.json
[
    {
        "id": "630ff27b3317931f",
        "type": "tab",
        "label": "Trabajo Final CO2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqtt-in",
        "type": "mqtt in",
        "z": "630ff27b3317931f",
        "name": "Recibir datos",
        "topic": "camara/01/CO2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9228fce8f2bf299a",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "110d6187c12cc7fb"
            ]
        ]
    },
    {
        "id": "a1cd2cc321c3cb11",
        "type": "debug",
        "z": "630ff27b3317931f",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "110d6187c12cc7fb",
        "type": "function",
        "z": "630ff27b3317931f",
        "name": "JSON",
        "func": "msg.topic = \"camara/01/CO2\";\n\nif (typeof msg.payload === \"string\") {\n    try {\n        msg.datos.co2 = JSON.parse(msg.payload);\n    } catch (e) {\n        node.warn(\"Error al parsear JSON: \" + e.message);\n        return null;\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 300,
        "wires": [
            [
                "a1cd2cc321c3cb11",
                "7e55999e9d99a565",
                "3e69fd046821caf3"
            ]
        ]
    },
    {
        "id": "4e6c69bdd8db9718",
        "type": "mqtt out",
        "z": "630ff27b3317931f",
        "name": "Enviar orden",
        "topic": "camara/01/ventilacion",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9228fce8f2bf299a",
        "x": 1050,
        "y": 420,
        "wires": []
    },
    {
        "id": "3e69fd046821caf3",
        "type": "function",
        "z": "630ff27b3317931f",
        "name": "Ventilación",
        "func": "let co2 = msg.payload.co2;\nlet datos = flow.get(\"datos\") || {\"kilos\":10,\"m3\":8};\nlet kgs = datos.kilos || 10;\nlet m3 = datos.m3 || 8;\n\n// Umbrales\nlet CO2_BAJO = 800 * kgs * m3;\nlet CO2_ALTO = 1400 * kgs * m3;\n\n// Lógica\nif (co2 >= CO2_ALTO) {\n    return { payload: \"prender\" };\n} else if (co2 <= CO2_BAJO) {\n    return { payload: \"apagar\" };\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 420,
        "wires": [
            [
                "a1cd2cc321c3cb11",
                "4e6c69bdd8db9718"
            ]
        ]
    },
    {
        "id": "7e55999e9d99a565",
        "type": "influxdb out",
        "z": "630ff27b3317931f",
        "influxdb": "ec4f1a47221a48c3",
        "name": "Guardar en Influx",
        "measurement": "sensores",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "a2fd56ebf4f21933",
        "type": "inject",
        "z": "630ff27b3317931f",
        "name": "Crear DB telegraf",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 530,
        "y": 60,
        "wires": [
            [
                "eb46d92cfe98a5e3"
            ]
        ]
    },
    {
        "id": "eb46d92cfe98a5e3",
        "type": "http request",
        "z": "630ff27b3317931f",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://TrabergTau:TauTraberg@influxdb:8086/query?q=CREATE DATABASE telegraf",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 60,
        "wires": [
            [
                "a1cd2cc321c3cb11"
            ]
        ]
    },
    {
        "id": "3f95d04ae79c39a6",
        "type": "mqtt out",
        "z": "630ff27b3317931f",
        "name": "Enviar kg y m3",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9228fce8f2bf299a",
        "x": 1060,
        "y": 520,
        "wires": []
    },
    {
        "id": "c7cd0697ea9bb2be",
        "type": "inject",
        "z": "630ff27b3317931f",
        "name": "Definir kilos y m3",
        "props": [
            {
                "p": "datos",
                "v": "{\"kilos\":10,\"m3\":8}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 340,
        "y": 520,
        "wires": [
            [
                "2f5096a8bebcb831",
                "2d3ba062c6247f02"
            ]
        ]
    },
    {
        "id": "2f5096a8bebcb831",
        "type": "function",
        "z": "630ff27b3317931f",
        "name": "Datos Mock",
        "func": "let kilos = Number(msg.datos.kilos);\nlet m3 = Number(msg.datos.m3);\n\nlet msgs = [];\n\nif (!isNaN(kilos) && kilos > 0) {\n    msgs.push({\n        topic: \"camara/01/kilos\",\n        payload: kilos.toString()\n    });\n}\n\nif (!isNaN(m3) && m3 > 0) {\n    msgs.push({\n        topic: \"camara/01/m3\",\n        payload: m3.toString()\n    });\n}\n\nmsg.payload = msgs;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 520,
        "wires": [
            [
                "6d6071e0f32bff49"
            ]
        ]
    },
    {
        "id": "6d6071e0f32bff49",
        "type": "split",
        "z": "630ff27b3317931f",
        "name": "Split",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 690,
        "y": 620,
        "wires": [
            [
                "ee1ef0efad7b9299"
            ]
        ]
    },
    {
        "id": "62d9a68773a972e3",
        "type": "debug",
        "z": "630ff27b3317931f",
        "name": "Ver mensaje",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 620,
        "wires": []
    },
    {
        "id": "2d3ba062c6247f02",
        "type": "function",
        "z": "630ff27b3317931f",
        "name": "Guardar datos",
        "func": "flow.set(\"datos\", msg.datos);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "ee1ef0efad7b9299",
        "type": "function",
        "z": "630ff27b3317931f",
        "name": "Reasignar topic",
        "func": "msg.topic = msg.payload.topic;\nmsg.payload = msg.payload.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 520,
        "wires": [
            [
                "3f95d04ae79c39a6",
                "62d9a68773a972e3"
            ]
        ]
    },
    {
        "id": "9228fce8f2bf299a",
        "type": "mqtt-broker",
        "name": "Broker MQTT Contenedor",
        "broker": "192.168.0.160",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ec4f1a47221a48c3",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": 8086,
        "protocol": "http",
        "database": "telegraf",
        "name": "Influx Local",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    }
]